body {
    background: darkslategrey;
}

#register {
    border: 1px solid black;
    margin: 0 auto;
    padding: 30px;
    width: max-content;
    background: white;
    border-radius: 25px;
}

#auth {
    border: 1px solid black;
    margin: 0 auto;
    padding: 30px;
    width: max-content;
    background: white;
    border-radius: 25px;
}

.error {
    color: red;
}

.question {
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 20px;
    vertical-align: top;
}

.question:before, .question:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.question:before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #E7E2E2;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

.question:after {
    content: " ";
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #E7E2E2;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    font-size: 0;
    line-height: 0;
}

.question:hover:before, .question:hover:after {
    visibility: visible;
    opacity: 1;
}

.userName {
    color: wheat;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

thead {
    background: wheat;
}

tbody {
    background: white;
}

th, td {
    border: 1px solid #000;
    padding: 5px;
}

td:nth-child(2) {
    text-align: right;
}

.mythead {
    background: wheat;
    font-weight: bold;
}

.myth {
    border-right: 1px solid black;
}

.mytr {
    background: white;
    border-right: 1px solid black;
    border-top: 1px solid black;
    width: 0;
}

.exit {
    margin: auto;
    width: 100%;
    padding: 35px;
    border-radius: 5px;
}

.addPhone {
    float: left;
    background: wheat;
    font-weight: bold;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    color: black;
    border-bottom: .07em solid !important;
    text-decoration: none;
    cursor: pointer;
}

#myModal {
    width: 400px;
    height: 530px;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}

.modalInput {
    margin: auto;
}

#myModal #myModal__close {
    width: 21px;
    height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px;
    right: 11px;
    cursor: pointer;
    display: block;
}

#myOverlay {
    z-index: 37;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

a:link {
    color: black;
    border-bottom: 1px dashed;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    border-bottom: .07em solid;
    text-decoration: none;
}

a:active {
    color: black;
    border-bottom: 1px dashed;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.linklogout {
    border: 1px solid black;
    padding: 5px;
    background: wheat;
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.showme {
    display: none;
}

.showhim:hover .showme {
    display: block;
}

.showhim:hover .ok {
    display: none;
}

.fa-edit {
    float: left;
    cursor: pointer;
    font-size: 40px;
    margin: 16px 5px 5px 5px;
}

.fa-trash-alt {
    float: right;
    cursor: pointer;
    font-size: 40px;
    margin: 16px 5px 5px 5px;
}

.blockPhoto {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.photomarg {
    box-sizing: border-box;
    display: block;
}

#lblloadphoto, #lblphoto {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
}

#lblloadphoto:hover, #lblphoto:hover {
    color: rgb(24, 24, 24);
    border: 1px solid rgb(198, 198, 198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#lblloadphoto:active, #lblphoto:active {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

#loadPhoto, #photo {
    display: none;
}

#lblloadphoto {
    float: right;
}

#lblphoto {
    float: left;
}

#loadedPhoto {
    width: 200px;
    height: 150px;
    margin: 10px 0;
}


/* картинка на странице */
.minimized {
    /*width: 300px;*/
    cursor: pointer;
    border: 1px solid #FFF;
}

.minimized:hover {
    border: 1px solid yellow;
}

/* увеличенная картинка */
#magnify {
    display: none;

    /* position: absolute; upd: 24.10.2016 */
    position: fixed;
    max-width: 600px;
    height: auto;
    z-index: 9999;
}

#magnify img {
    width: 100%;
}

/* затемняющий фон */
#overlay {
    display: none;

    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
}

/* кнопка закрытия */
#close-popup {
    width: 30px;
    height: 30px;

    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

#close-popup i {
    width: 30px;
    height: 30px;
    background: url(https://codernote.ru/files/cross.png) no-repeat center center;
    background-size: 16px 16px;
    display: block;
}

@keyframes rota {
    25% {
        transform: rotate(360deg);
    }
}

#close-popup:hover {
    animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.image2 {
    width: 160px;
    height: 80px;
}

.mytr input[type=text] {
    border:none;
    background:none;
    outline:none;
    padding:0;
}